/* .slide-container {
  overflow: hidden;
  position: relative;
  animation: animate 60s linear infinite;
  white-space: wrap;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

@font-face {
  font-family: 'Inter-W';
  src: url('/public/fonts/Inter_24pt-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* * {
  font-family: 'Inter-W', sans-serif;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #fff2ed;
  box-sizing: border-box;
}
