.hero {
  position: relative;
  background-color: #fff2ed;
  color: #110202;
  text-align: center;
  padding: 100px 0px 20px 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}
.content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: #ebb1b1;
  border-radius: 28px;
  width: 100%;
}

.img1 {
  width: 4%;
  transform: translate(-320px, 150%);
}

.heading {
  font-size: 36px;
  text-align: left;
  max-width: 28ch;
  transform: translate(110px, 0%);
}

.container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0 40px 0px;
  transform: translate(110px, 0%);
}

.img2 {
  width: 5%;
  border-radius: 50%;
}

.p1 {
  font-size: 22px;
  line-height: 1.5;
}

.p2 {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 80px;
  }
  .card {
    width: 80%;
    padding-bottom: 20px;
  }

  .img1 {
    width: 8%;
    transform: translate(-360%, 180%);
  }
  .heading {
    font-size: 32px;
    text-align: left;
    transform: translate(10%, 10%);
    padding: 0 20px;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    transform: translate(18%, 12%);
  }

  .img2 {
    width: 10%;
  }

  .p1 {
    line-height: 0.6;
    padding-bottom: 0px;
  }

  .p2 {
    max-width: 20ch;
    text-align: left;
  }
}
